.table {
    width: 250px;
    background-color: gainsboro;
    margin: 10px auto;
}

.tableHeader {
    background-color: darkgrey;
    text-align: center;
    padding: 10px;
}

.tableContent {
    display: grid;
    grid-template-columns: minmax(100px, auto) 95px;
    gap: 5px;
    padding: 5px;
}

.name {
    font-weight: 600;
}

.exchangeRate {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 3px;
}