.table {
    width: 250px;
    background-color: gainsboro;
    margin: 10px auto;
}

@media screen and (max-width: 300px) {
    .table {
        width: 100%;
    }
}

.tableHeader {
    position: relative;
    background-color: darkgrey;
    text-align: center;
    padding: 10px;
}

.tableContent {
    padding: 10px 15px 15px;
}

.updateButton {
    position: absolute;
    right: 10px;
    cursor: pointer;
}