.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    line-height: 30px;
}

.name {
    font-weight: 600;
}

.exchangeRate {
    width: 90px;
    display: flex;    
    justify-content: space-between;
}