body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.appHeader {
    background-color: darkseagreen;
    padding: 10px;
    color: white;
    text-align: center;
}

.table {
    width: 200px;
    background-color: gainsboro;
    margin: 10px auto;
}

.tableHeader {
    background-color: darkgrey;
    text-align: center;
    padding: 10px;
}

.tableContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
}

.name {
    font-weight: 500;
    padding-left: 5px;
}