body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.appHeader {
    background-color: darkseagreen;
    padding: 10px;
    color: white;
    text-align: center;
}